.box {
    border: 1px solid #7E64FF;
    background-color: #7E64FF;
    border-radius: 10px;
    width: 366px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    height: 50px;
}

h1 {
    font-size: 30px;
    color: white; 
}
.content p {
    font-size: 20px;
    color: black;
}

.notes {
    padding: 0 8px;
    word-wrap: break-word;
}
.notes p {
    font-size: 15px;
    
}

.date {
    display: flex;
    justify-content: center;
    height: 40px;
}

.date p {
    font-size: 15px;
    align-items: flex-end;
    color: black;
}