.wrapper {
    flex: 1;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;   /* NEW */
}

.body {
    background-color: #231B35;
    height: 623px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.input {
    height: 59px;
    width: 685px;
    background-color: #CCC2FE;
    border-radius: 5px;
    padding: 0 10px;
}

.form p {
    color: white;
    margin-bottom: 37px;
    font-size: 36px;
}

.button {
    border: 20px solid #7E64FF;
    background-color: #7E64FF;
    width: 295px;
    border-radius: 5px;
    align-self: flex-end;
    margin-top: 48px;
    color: white;
    font-size: 20px;
}

.buttonWrapper{
    display: flex;
    justify-content: end;
}

.footer {
    height: 391px;
    background-color: #7E64FF;
    display: flex;
    justify-content: center;
}

.footer p {
    margin-top: 60px;
    font-size: 24px;
    color: white;
}

.footer img {
    position: absolute;
    left: 800px;
    bottom: -354px;  

}