.header {
    background-color: #7E64FF;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.avatar {
    height: 66px;
    width: 66px;
    border-radius: 100px;
    background-color: white;
    margin: 10px;
}

.headerRight {
    display: flex; 
    align-items: center;
    justify-content: end;
    flex: 0.5;
    color: white;
}

.headerLeft {
    display: flex;
}

.textTo {
    color: #231B35;
    font-size: 48px;
}

.textDo {
    color: #E0E0E0;
    font-size: 48px;
}

.headerRight p {
    font-size: 24px;
}